*{
margin:0px;
padding:0px;

}
.header{
    height:1000px;
    background-image: url('../images/banner/banner1.png');
    background-size:cover;
    background-repeat: no-repeat;
     
}
.section-one {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 20px;
    width: 50%;
  }
.section-title{
    width: 525px;
    color:  #151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;


}
.section-decription{
width: 494px;
color:  #444343;
text-align: right;
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
}
.buttonn{
    text-align: center;
    margin-left:80px;

}

.imges{
margin-left:277px;
margin-top:140px;
margin-right:134px;

}

.button{
     text-align: center;
     border: 2px solid #F15B22;
     border-radius: 5px;
     background: #F15B22;
     width: 160px;
     height: 64px;
     color: #FFF;
     font-family: Work Sans;
     font-size: 20px;
     font-weight: 600;
   
}

.container{

    display: flex;
}

.description{

    text-align: center;
    margin-top:400px;
    margin-right:322px;
}

.section-title-two{
    width: 288px;
    color:  #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 24px;

   

}
.section-decription-two{
margin-bottom:20px;
width: 416px;
color:  #444343;
font-family: Work Sans;
font-size: 16px;
font-weight: 400;

}
.container-2{

    display: flex;
    justify-content: space-around;
}

.section-title-three{
        margin-bottom:30px;
        font-size: 35px;
        font-weight: 700;
        text-align:center;
        
 }


 .back-img{
    height: 350px;
    flex-shrink: 0;
    background-image: url('../images/gradient2.png'),url('../images/watch.png');
    background-size:cover;
    background-repeat: no-repeat;
    margin:20px 100px;
    border-radius: 8px;
    
}

.img-inner{
width: 459px;
color: #FFF;
font-family: Work Sans;
font-size: 40px;
font-weight: 700;
padding:59px 617px 147px 64px;



}

.button-two{
width: 160px;
height: 64px;
border-radius: 5px;
border:2px solid #fff;
}







  


